<% 
const now = new Date().getFullYear();
const since = theme.footer.since === now ? theme.footer.since : `${theme.footer.since} - ${now}`

const custom = theme.footer.custom || config.subtitle
%>

<footer class="footer main-width">
  <div class="copyright">
    &copy; <%= since %>
    <a href="https://github.com/Arc-Meteor" target="_blank"><%= config.author %></a>
  </div>
  <div class="framework-info">
    <span><%= _p('footer.framework') %></span>
    <a href="https://hexo.io" target="_blank">Hexo</a>
    <span class="footer-separator">|</span>
    <span><%= _p('footer.theme') %></span>
    <a href="https://github.com/Lete114/hexo-theme-MengD" target="_blank">MengD</a>
  </div>
  <div><a href="https://icp.gov.moe/?keyword=20251911" target="_blank">萌ICP备20251911号</a></div>
  <div>
    <a href="<%- url_for('atom.xml') %>">Atom</a>
  </div>
  <% if(custom){ %>
  <div class="custom"><%- custom %></div>
  <% } %>
</footer>